/*Auth btn Classic btn*/
.auth-btn, .classic-btn {
    margin: 10px;
    border: none;
    color: #f0f8f8;
    background-color: #c84b31;
    font-size: 17px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s;
    border-radius: 10px;
    min-width: 40px;
}

.auth-btn:hover, .classic-btn:hover {
    color: #f0f8f8;
    background-color: rgba(200, 75, 49, 0.61) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.auth-btn:disabled, .classic-btn:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

/* DatePicker*/
.date-picker-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 2px solid #2d4263;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-size: 1.3em;
    color: #333;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
    outline: none;
    border-color: #2d4263;
    box-shadow: 0px 0px 5px #2d4263;
}

/* InputField  */
.input-field-container {
    margin-bottom: 20px;
}

.input-field {
    font-size: 10px !important;
}

/* Input field styles */
input[type="text"],
input[type="email"],
input[type="password"],
select {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #2d4263;
    outline: none;
}

/* InterestSelector */
.interests-fieldset {
    border: 2px solid #2d4263;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.interests-fieldset legend {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.interests-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.interest-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    background-color: rgba(249, 249, 249, 0.48) !important;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.interest-item:hover {
    background-color: rgba(45, 66, 99, 0.87) !important;
    color: #f9f9f9 !important;
    transform: scale(1.05);
}

.interest-item input {
    margin-right: 8px;
    cursor: pointer;
}

.interest-checkbox {
    padding: 5px !important;
    transform: scale(1.2);
    cursor: pointer;
}

.interest-label {
    margin: 5px 10px;
}

/* LocationInput */
.location-input-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 2px solid #2d4263;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 15px;
}

.location-select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.location-select:focus {
    outline: none;
    border-color: #2d4263;
    box-shadow: 0px 0px 5px #2d4263;
}

/* Navbar */
nav {
    position: fixed;
    z-index: 1000;
    top: 20px;
    left: 50%;
    width: 90%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: 0.3s ease-out;
    transform: translateX(-50%);
    background-color: #c84b31;
    color: #191919;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.45);
    border-radius: 90px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.nav-button {
    background-color: #ecdbba;
    color: #c84b31;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-button:hover {
    background-color: rgba(236, 219, 186, 0.38) !important;
    color: #ecdbba;
    transform: scale(1.05);
}

.navbar-title {
    color: black;
    margin-left: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.rotate {
    animation: rotate 10s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
}

/*Trip card*/
.trip-card {
    background-color: #ecdbba;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.trip-card:hover {
    transform: scale(1.01);
}


.trip-card h4 {
    font-size: 1.2em;
}

/* TripTypeSelector*/

.trip-type-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 2px solid #2d4263;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

legend {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.trip-select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    margin-bottom: 15px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.trip-select:focus, .group-size-input:focus {
    outline: none;
    border-color: #2d4263;
    box-shadow: 0px 0px 5px #2d4263;
}

.group-size-container {
    margin-top: 10px;
}

.group-size-input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Auth forms */
.auth-form {
    background-color: #ecdbba;
    max-width: 400px;
    margin: 10% auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}


h1, h2, h3 {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

/* Profile */
.chart-container {
    max-width: 400px;
    margin-top: 100px;
    transition: transform 0.9s ease;

}

.charts-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease;
}

.chart-slider {
    position: relative;
    overflow: hidden;
    flex: 1;
}

.chart-item {
    flex: 0 0 100%;
    min-width: 400px;
    height: 300px;
    margin-top: 80px;
}

.chart-controls {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    max-width: 10px;
}

.profile-container {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.profile-card {
    padding: 20px;
    max-width: 400px;
    align-self: end;
    margin: 10% auto;;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ecdbba;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

.profile-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.profile-card-container {
    flex: 1;
    width: 30%;
}

.trips-container,
.past-trips-container,
.upcoming-trips-container {
    margin-bottom: 30px;
}

.past-trips-container, .upcoming-trips-container {
    display: flex;
    overflow-x: auto;
    gap: 30px;
    padding-bottom: 10px;
}

.horizontal-scroll {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 20px;
    margin-top: 10px;
}

.horizontal-scroll::-webkit-scrollbar {
    height: 8px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
    background-color: #c84b31;
    border-radius: 4px;
}

.horizontal-scroll::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.horizontal-scroll .trip-card {
    flex-shrink: 0;
    width: 300px;
    margin-right: 20px;
}

/* PlanForm */

.plan-form {
    background-color: #ecdbba;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: 10% auto;;
    border: 1px solid #ddd;
}

.home-page-body {
    padding-top: 10%;
}

.map {
    height: 500px;
}

.map iframe {
    width: 100%;
    height: 100%;
}

.popup-location {
    font-weight: bold;
    color: #333;
}
.popup-location {
    font-size: 17px;
    font-weight: bold;
    color: #c84b31;
}

#earth {
    position: relative;
    height: 450px;
    width: 450px;
    margin: 0.05em auto;
    background: #888 url("../../public/assets/spin.jpg") 0 0 repeat;
    border-radius: 50%;
    background-size: 630px;
    animation: bounce 2s ease-in-out infinite;
    transition: transform 200ms linear;
    transform-style: preserve-3d;
    box-shadow: inset 20px 0 65px 6px rgba(0, 0, 0, 0.38);
    color: #000;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
