/* Navbar styles */
body {
    margin: 0;
    min-height: 200vh;
    font-size: 0;
    font-family: Helvetica, Verdana, sans-serif;
}
nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 20px 30px 20px;
    display: flex;
    align-items: center;
    transition: 0.3s ease-out;
    backdrop-filter: blur(8px) brightness(1.2);
    -webkit-backdrop-filter: blur(8px) brightness(1.2);
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.18);
    color: white;
    background-color: #bfdbdd;
    font-size: 16px;

    @media (min-width: 640px) {
        padding: 16px 50px 30px 50px;
    }
}

.nav-buttons {
    background-color: transparent;
    border: none;
    color: #003a37;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s;
}

.nav-buttons:hover {
    background-color: #9ec5c6;
    color: #bfdbdd ;
}

.list {
    display: flex;
    align-items: center;
}


.h3-navbar, h1, h2 {
    color: #003a37;
    text-align: center;

}

.list {
    list-style-type: none;
    margin-left: auto;
    display: none;
    @media (min-width: 640px) {
        display: flex;
    }
    li {
        margin-left: 20px;
    }
}

/* Login Register Plan form styles */
.login-form, .register-form, .plan-form {
    max-width: 400px;
    margin: 15% auto; ;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #bfdbdd;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

.auth-btn, .btn {
    border: none;
    color: #9ec5c6;
    background-color: #045149;
    font-size: 17px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s;
    border-radius: 10px;
}
.auth-btn:hover, btn:hover {
    border: none;
    color: #045149;
    background-color: #9ec5c6;
    font-size: 17px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s;
    border-radius: 10px;
    gap: 5px;
}
.error-message {
    color: red;
    margin-bottom: 10px;
}

.map {
    height: 500px;
}

/* ProfilePage.module.css */
.profile-flex-container {
    margin: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.chart-container {
    max-width: 400px;
    margin-top: 100px;
}

.profile-card {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.charts-container {
    width: 100%;
    position: relative;
}

.chart-container {
    transition: transform 0.9s ease;
}

.profile-card-container {
    flex: 1;
}

.profile-card {
    font-size: 20px;
    max-width: 400px;
    align-self: end;
    margin: 10% auto; ;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #bfdbdd;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.trips-container {
    width: 100%;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.trip-card {
    background-color: #e6eaef;;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

/*Chart sliders components*/
.chart-slider {
    position: relative;
    overflow: hidden;
    flex: 1;
}

.charts-container {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease;
    width: 100%;
}

.chart-item {
    flex: 0 0 100%;
    min-width: 400px;
    height: 300px;
    margin-top: 80px;
}

.chart-controls {
    margin-top: 20px;
}




/* Main container styles */
.container {
    padding: 20px;
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff; /* White background for the container */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Light background */
    color: #333; /* Dark text color */
}



/* Form label styles */
label {
    display: block; /* Stack label and input */
    margin-bottom: 10px; /* Space between label and input */
    font-weight: bold; /* Bold text for labels */
}

/* Input field styles */
input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%; /* Full width input fields */
    padding: 10px; /* Padding for better spacing */
    margin-bottom: 20px; /* Space below inputs */
    border: 1px solid #ced4da; /* Light border */
    border-radius: 5px; /* Rounded corners for inputs */
    box-sizing: border-box; /* Ensure padding is included in width */
    transition: border-color 0.3s; /* Transition effect for border color */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

/* Error message styles */
.error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
}


/* Home page */

.home-page-body {
    padding-top: 10%;
}

#earth {
    position: relative;
    height: 450px;
    width: 450px;
    margin: 0.05em auto; /* Center the globe */
    background: #888 url(https://i.pinimg.com/564x/16/8a/a5/168aa51f2d59bc681cd2baa9cf48f811.jpg) 0 0 repeat;
    border-radius: 50%;
    background-size: 630px;
    animation: rotate 4s linear infinite;
    transition: transform 200ms linear;
    transform-style: preserve-3d;
    box-shadow: inset 20px 0 65px 6px rgba(0, 0, 0, 0.38);
    color: #000;
}

@keyframes rotate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 630px 0px;
    }
}
