/*Auth btn Classic btn*/
button {
    background-color: #697565;
    color: #ecdfcc;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #697565;
    transform: scale(1.05);
}

.auth-btn, .classic-btn {
    margin: 10px;
    border: none;
    color: #f0f8f8;
    background-color: #697565;
    font-size: 17px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s;
    border-radius: 10px;
    min-width: 40px;
}

.auth-btn:hover, .classic-btn:hover {
    color: #f0f8f8;
    background-color: rgba(105, 117, 101, 0.8) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.auth-btn:disabled, .classic-btn:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

/* DatePicker*/
.date-picker-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 2px solid #697565;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
    outline: none;
    border-color: #697565;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* InputField  */
.input-field-container {
    margin-bottom: 20px;
}

.input-field {
    font-size: 10px !important;
}

.input-field-label {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-field {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-field:focus {
    outline: none;
    border-color: #697565;
    box-shadow: 0px 0px 5px #697565;
}

/* Input field styles */
input[type="text"],
input[type="email"],
input[type="password"],
select {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #697565;
    outline: none;
}

/* InsertSelector.css */
.interests-fieldset {
    border: 2px solid #697565;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: auto;
}

.interests-fieldset legend {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.interests-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.interest-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    background-color: #f9f9f9;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.interest-item:hover {
    background-color: #697565;
    color: white;
    transform: scale(1.05);
}

.interest-item input {
    margin-right: 8px;
    cursor: pointer;
}

.interest-item span {
    font-size: 1em;
}

/* LocationInput */
.location-input-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 2px solid #697565;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 15px;
}

.location-select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.location-select:focus {
    outline: none;
    border-color: #697565;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.location-select option {
    padding: 10px;
}

/*Navbar*/
.page-container {
    display: flex;
    min-height: 100vh;
}

.home-page-content, .auth-page, .auth-page-reg {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-page {
    min-width: 10%;
}

.auth-page-reg {
    margin: 1%;
}

.navbar {
    background-color: #697565; /* Background color from your previous styles */
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: auto; /* Full height of viewport */
}

.navbar-left {
    width: 250px; /* Adjust the width as needed */
}

.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.navbar-title {
    color: white;
    font-size: 3rem;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
}

.logo {
    cursor: pointer;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links.open {
    display: flex;
}

.nav-button {
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-button:hover {
    color: rgba(255, 255, 255, 0.63);
    transform: scale(1.05);
}

/*Trip card*/
.trip-card {
    width: 400px;
    flex-shrink: 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s ease;
    background-color: #ecdfcc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    min-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.trip-card:hover {
    transform: scale(1.01);
}

.trip-card h4 {
    font-size: 1.2em;
}

.card-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.info-left {
    flex: 1;
    min-width: 200px;
}

.info-right {
    flex: 1;
    min-width: 200px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
}

.info-card {
    background-color: #ecdfcc;;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    max-width: 700px;
    width: 100%;
}


/* TripTypeSelector*/
.trip-type-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 2px solid #697565;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.trip-type-container legend {
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.trip-select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    margin-bottom: 15px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.trip-select:focus {
    outline: none;
    border-color: #697565;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.group-size-container {
    margin-top: 10px;
}

.group-size-input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.group-size-input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.group-size-input:focus {
    outline: none;
    border-color: #697565;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Auth forms */
h1, h2, h3 {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.content-container > :first-child {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
}

.content-container > :last-child {
    flex: 1;
    margin-left: 20px;
}

/*Register*/
.content-container-reg {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.content-container-reg > h2 {
    flex: 1;
    max-width: 300px;
    margin-right: auto;
    font-size: 2.5rem;
    margin-bottom: 20px;
/
}

.content-container-reg > :last-child {
    flex: 1;
    max-width: 400px;
    margin-left: auto;
}

/*Plan form*/
.plan-form {
    max-width: 900px;
    margin: 5% 20%;
    padding: 2rem;
    background-color: #ecdfcc;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;
}

.form-section {
    margin-bottom: 2rem;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.form-footer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.form-row > div {
    flex: 1 1 48%;
}

.vertical-scroll {
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 600px;
    overflow-y: auto;
    padding-right: 0.5rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.vertical-scroll::-webkit-scrollbar {
    display: none;
}

.vertical-scroll > * {
    flex-shrink: 0;
}

.list {
    list-style-type: none;
    margin-left: auto;
    display: none;
    @media (min-width: 640px) {
        display: flex;
    }

    li {
        margin-left: 20px;
    }
}

.profile-page-container {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-top: 5%;
}

.profile-section {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.profile-card {
    flex: 1;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 400px;
    margin-left: 25%;
}

.trips-section {
    display: flex;
    gap: 2rem;
}

.trips-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.map {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.map iframe {
    width: 100%;
    height: 100%;
}

.popup-location {
    font-size: 17px;
    font-weight: bold;
    color: #697565;
}

.chart-container {
    max-width: 400px;
    margin-top: 100px;
}


.charts-container {
    width: 100%;
    position: relative;
}

.chart-container {
    transition: transform 0.9s ease;
}

/*Chart sliders components*/
.chart-slider {
    position: relative;
    overflow: hidden;
    flex: 1;
}

.charts-container {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease;
    width: 100%;
}

.chart-item {
    flex: 0 0 100%;
    min-width: 400px;
    height: 300px;
    margin-top: 80px;
}

.chart-controls {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    max-width: 10px;
}


.home-page {
    margin-top: 5%;
}

#earth {
    position: relative;
    height: 450px;
    width: 450px;
    margin: 0.05em auto;
    background: #888 url("../../public/assets/spin.jpg") 0 0 repeat;
    border-radius: 50%;
    background-size: 630px;
    animation: rotate1 4s linear infinite;
    transition: transform 200ms linear;
    transform-style: preserve-3d;
    box-shadow: inset 20px 0 65px 6px rgba(0, 0, 0, 0.38);
    color: #000;
}

@keyframes rotate1 {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 630px;
    }
}

legend {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

/* Form container */
.auth-form {
    background-color: #ecdfcc;
    max-width: 400px;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Title styling */
.card-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.profile-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.profile-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.profile-card-container {
    width: 30%;
}

.profile-card {
    background: #ecdfcc;

    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.trips-container,
.past-trips-container,
.upcoming-trips-container {
    margin-bottom: 30px;
}

.past-trips-container {
    display: flex;
    overflow-x: auto;
    gap: 30px;
    padding-bottom: 10px;
}

.horizontal-scroll {
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
}


.upcoming-trips-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    padding: 20px 0;
}

p {
    margin: 5px 0;
}

strong, p {
    font-size: 1.7rem;
}

.profile-container {
    padding: 30px;
}

.loading {
    text-align: center;
    font-size: 1.5rem;
    padding: 50px;
}
